* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-container {
    width: 1400px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.profile-container:hover{
    transform: scale(1.02); 
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    
}
.profil-image img:hover {
    border-color: #ddd;
}

.add-image {
    display: inline-block;
    color: #128f8b;
    background-color: #4d3653;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;

}
.add-image:hover{
    background-color:#e6e1e6;
}
.profile-name h1, .profile-name h2 {
    color: #4d3653;
}

.profile-type button {
    padding: 8px 16px;
    border: 1px solid #128f8b;
    background-color: transparent;
    color: #128f8b;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.profile-type .active {
    background-color: #128f8b;
    color: #ffffff;
}
.profile-type button:hover {
    background-color: #4d3653; 
    color: #ffffff; 
}

.profile-description {
    margin-top: 30px;
    background-color: #4d3653;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.profile-description p {
    margin-bottom: 10px;
    color: #e6e6e6;;
    text-align: justify;
}

.submit {
    background-color: #128f8b;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit:hover{
    background-color: #f5b4f5;
}

.date-picker {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    color: #4d3653;
}

.date-picker label {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.date-picker input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.annonces h3 {
    color: #4d3653;
    margin-bottom: 15px;
}

.annonces {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.annonce {
    background-color: #f9f9fb;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.annonce-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.annonce-header img {
    width: 150px;
    height: 120px;
    margin-bottom: 5px;
}

.annonce p {
    color: #4d3653;
    font-size: 0.9em;
}
